// variables
// 

// COLOR
$color-primary: #1C4F60;
$color-secondary: #229A98;

$color-white: #fff;
$color-black: #000;
$color-grey: whitesmoke;

$color-primary-dark: #7F7F7F;

// SPACING
$spacing-sm: 1rem;
$spacing-lg: 3rem;

// FONT
$default-font-size: 1.6rem;
$default-font-primary: forma-djr-micro, sans-serif;
$default-font-secondary: brevia, sans-serif;

