.container_main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
    // background-color: grey;
    

    &_bkg-join{
        // background-size: cover;
        background-size: 100% 100%;
        background-repeat:no-repeat;
        // height: 100vh;
        // width: 50%;
        background-blend-mode: screen;
        // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // background-color: red;
        background-image: url("/assets/joinBkg.png");


    }

    &_bkg-home{
        // background-size: cover;
        background-size: 60% 100%;
        background-repeat:no-repeat;
        // height: 100vh;
        // width: 50%;
        background-blend-mode: screen;
        // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // background-color: red;
        background-image: url("/assets/homeBkg.png");

        // align-self: flex-end;
    }

   

    
}

.container_body {
    // background-color: lightcoral;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        // height: 100%;
        margin: $spacing-sm; 
}

.container_plate{
    // background-color: white;
    // flex: 1 1 400px;
    margin: $spacing-lg;

    width: 400px;
    height: 400px;
    /* stroke: none; */

    stroke-width: 4px;
}

.container_ask{
    // background-color: coral;
    margin: $spacing-sm;
}

.container_fac{
    // background-color: coral;
    
    margin: $spacing-sm; 

    display: flex;
    flex-direction: column;
    // align-items: flex-start;
}

.container_list{
    // background-color: white;
    margin: $spacing-sm; 
}

.container_pres{
   
    // background-color: grey;
    width: 100%;
    // height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: $spacing-sm; 
    

    &-question{
    //    background-color: cornflowerblue;
       
        // margin: $spacing-sm; 
        padding: $spacing-sm;     
    }

    &-card{
        // background-color: cornflowerblue;
        padding: $spacing-sm;
        // margin: .2rem; 
        box-shadow: 0 .25rem .5rem rgba($color-black, .2);
        border-radius: 1rem;
    }

    &-footer{
        // background-color: coral;
        
         // margin: $spacing-sm; 
         padding: $spacing-sm;    
         
         display: flex;
         flex-direction: column;
         align-items: stretch;
     }    
}

.container_home {
    // background-color: lightcoral;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    

    // height: 100%;
    margin: $spacing-sm; 

    &_intro{
        // background-color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        // height: 100%;
        margin: $spacing-sm; 
        margin-top: 8rem;

        &-title{
            // background-color: white;
            flex: 0 1 440px;
            margin: $spacing-lg; 
        }
    }

    &_arrow{
        // background-color: white;
        align-self: flex-end;
        margin: $spacing-lg; 
        margin-top: 5rem;

    }

    &_role{
        // background-color: coral;
        margin: $spacing-lg; 
        margin-top: $spacing-lg;
        margin-bottom: $spacing-lg;
        
        display: flex;
        flex-direction: column;
        align-items: stretch;


    }
    
}