.container_main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 100vh;
    // background-color: grey;
    

    &_bkg-join{
        background-size: cover;
        height: 100vh;
        background-blend-mode: screen;
        // clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // background-color: red;
        background-image: url("/assets/joinBkg.png");

        // align-self: flex-end;
    }

   

    
}

.container_body {
    // background-color: lightcoral;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        // height: 100%;
        margin: $spacing-sm; 
}

.container_plate{
    // background-color: white;
    // flex: 1 1 400px;
    margin: $spacing-lg;

    width: 400px;
    height: 400px;
    /* stroke: none; */

    stroke-width: 4px;
}

.container_ask{
    // background-color: coral;
    margin: $spacing-sm;
}