.heading{
    // background-color: pink;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &_element{
        // background-color: coral;
        padding: 2rem;

        &-logo{
            height: 10.25rem;

            
        }

        &-icon{
            height: 4rem;
            width: 4rem;
            fill: $color-primary;

            &:hover{
                fill: #696969;
            }

           
        }  
        
        
    }

   
}