.btn {
    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-primary;
    background-color: $color-white;
    border: none;
    cursor: pointer;
    }

    &:hover {

        background-color: $color-grey;

        // transform: translateY(-1px);
        // box-shadow: 0 1rem 2rem rgba($color-black, .2);

        // &::after {
        //     transform: scaleX(1.4) scaleY(1.6);
        //     opacity: 0;
        // }
    }

    &-secondary{
        border: 2px solid $color-primary;

        &:disabled{
            border: 2px solid whitesmoke; 
            background-color: whitesmoke;
            color: lightgray;
        }

        &:active,
        &:focus {
        outline: none;
        border: 2px solid whitesmoke; 
            background-color: whitesmoke;
            color: lightgray;
        }
    }

    &-tertiary{
        border-bottom: 2px solid $color-primary;
        border-radius: 0;
        text-align: left;
        padding: .5rem .5rem;

        &:hover{
            padding: .5rem 1.5rem;
            background-color: white;

        }

        
        &:active,
        &:focus {
        outline: none;
        }
    }

    &-primary{
        border: 2px solid $color-secondary;
        background-color: $color-secondary;
        color: $color-white;
        padding: .8rem 3rem;

        &:hover{
            border: 2px solid #1D8684;
            background-color: #1D8684;

        }

        &:disabled{
            border: 2px solid whitesmoke; 
            background-color: whitesmoke;
            color: lightgray;
            // display:none
        }

        &:active,
        &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        border: 2px solid #157473;
        background-color: #157473;
        color: lightgray;
        }

        &-highlight{
            &:active,
            &:focus{
                border: 2px solid $color-primary;
            }  
        }
    }
}