h1{
    font-family: $default-font-secondary;
    font-size: 2.0rem;
    color: $color-primary-dark;
}

h2{
    font-family: $default-font-secondary;
    font-size: 4.8rem;
    line-height: 5rem;
    color: $color-primary;
    margin-bottom: $spacing-sm;
}

h4{
    font-family: $default-font-secondary;
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-primary-dark;
    
}

h5{
    font-family: $default-font-secondary;
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-primary;
}

h6{
    font-family: $default-font-primary;
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-primary-dark;
}


input::placeholder{
    color: rgb(218, 218, 218);
  }