.instruction{
    // background-color: white;
    flex: 0 1 325px;
    margin: $spacing-lg; 
    // padding: $spacing-sm;
    border-radius: .5rem;
    // border: .5px solid #1C4F60;
    // box-shadow: 0 .25rem .5rem rgba($color-black, .2);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;


    &_title{
        margin-bottom: $spacing-lg;
    }

    &_body{
        // align-self: center;
        // padding: $spacing-sm;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        // justify-content: flex-start;
        margin-left: $spacing-sm;
        margin-top: $spacing-sm;
        // margin: 1rem;
        
        // width: 100%;
    }

    &-icon{
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
        // background-color: red;
        margin-right: $spacing-sm;
    }

    &_footer{
        align-self: flex-end;  
        margin-top: 4rem;     
    }
}

.arrow{
    &-icon{
        height: 6rem;
        width: 6rem;
        fill: $color-primary;
        animation: bounce .8s infinite  alternate;
    }
}

.role{
    &_heading{
        align-self: center;
        margin-bottom: $spacing-lg;
    }

    &_body{
        // background-color: coral;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        margin: $spacing-sm;
        margin-top: $spacing-lg;
        margin-bottom: $spacing-lg;
        
    }
}